<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <div>
            <a class="text-blue-500" href="/users/all">Read All Users</a>
        </div>
        <h1 class="text-3xl mt-10 text-gray-400 font-semibold tracking-tighter ">Update User</h1>
        <form action="/users/update/<%= user._id %>" method="post" class="text-white flex gap-3 items-start flex-col py-5">
            <input type="text" class="px-5 py-2 bg-zinc-800 outline-none rounded-md w-full" name="name" placeholder="Enter Name" value="<%= user.name%>">
            <input type="email" class="px-5 py-2 bg-zinc-800 outline-none rounded-md w-full" name="email" placeholder="Enter Email" value="<%= user.email%>">
            <input type="text" class="px-5 py-2 bg-zinc-800 outline-none rounded-md w-full" name="image" placeholder="Enter Image Url" value="<%= user.image%>">
            <input type="submit" class="bg-yellow-600 px-6 py-2 cursor-pointer rounded-md" value="Update User">
        </form>
    </div>
    
</body>
</html>