<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10">
        <h1 class="text-3xl mb-5 font-bold text-white">Update profile Picture</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="" class="text-white border px-2 py-2 rounded-md ">
            <input type="submit" name="" id="" class="text-white px-3 py-2 rounded-md bg-blue-500 cursor-pointer">

        </form>
    </div>
</body>

</html>