<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen main bg-zinc-900 text-gray-300 p-10">
        
        <a class="text-blue-500" href="/">Go back to home page</a>

        <h1 class="text-xl font-bold text-gray-500 mt-5">Update <%=fileName%> Task Title</h1>
        <form  action="/edit" class="mt-10" method="post">
            <input type="text" class="block w-2/4 rounded-md outline-none text-zinc-500 px-3 py-2 bg-zinc-700" name="previous"
                placeholder="Previous Title here..." value="<%= fileName%>">
            <input class="block  w-2/4  mt-3 rounded-md resize-none outline-none px-3 py-2 bg-zinc-700" name="new"
                placeholder="New Title here...">
            <input class="bg-yellow-700 px-7 py-2 mt-3 rounded-md cursor-pointer" value="Update Task" type="submit">
        </form>
    </div>

</body>

</html>